<a href="https://colab.research.google.com/github/Paradoxxs/Paradoxxs.github.io/blob/main/Audit_failed_login_CAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using data science til at lave audit af failed logins, 
Data er fra Cloud app secturity

In [36]:
import pandas as pd

In [56]:
df = pd.read_csv("activity_log.csv")
filter = ['User', 'Device', 'IP address', 'Date']

In [57]:
df = df.loc[:,filter]
df["Date"] = pd.to_datetime(df["Date"])  #Converting ms to datetime
df = df.groupby(["User","Device"]).agg(list)
df.reset_index(inplace=True)
df.head()

                           User  ...                                               Date
0  Aase Bjerregaard Christensen  ...  [2022-02-04 07:45:57.186000+00:00, 2022-02-04 ...
1                   Abel Møller  ...                 [2022-02-04 08:06:09.364000+00:00]
2   Adam Victor Hansen Nørgaard  ...                 [2022-02-04 09:26:03.313000+00:00]
3   Adam Victor Hansen Nørgaard  ...                 [2022-02-04 08:45:35.882000+00:00]
4   Adam Victor Hansen Nørgaard  ...  [2022-02-04 09:31:45.758000+00:00, 2022-02-04 ...

[5 rows x 4 columns]

In [58]:
df['login_counts'] = df["Date"].apply(lambda x: len(x))
df = df.loc[df['login_counts'] > 10]
df["Date"] = df["Date"].apply(lambda x: sorted(x))
df['delta_time'] = df["Date"].apply(lambda x: pd.Series(x).diff().dt.seconds.dropna().tolist())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [59]:
df.sort_values(by=['login_counts'], ascending=False, inplace=True)
df.head(30)

                             User  ...                                         delta_time
325              Nils Thorsted T1  ...  [124.0, 63.0, 123.0, 124.0, 125.0, 67.0, 62.0,...
124          Heins Christensen T0  ...  [0.0, 85.0, 0.0, 0.0, 1.0, 218.0, 0.0, 304.0, ...
110  Frederik Fisker Jespersen T1  ...  [1.0, 300.0, 1.0, 300.0, 1.0, 301.0, 1.0, 300....
322              Nils Thorsted T1  ...  [1.0, 318.0, 1.0, 318.0, 1.0, 318.0, 1.0, 318....
109  Frederik Fisker Jespersen T1  ...  [0.0, 319.0, 0.0, 319.0, 0.0, 319.0, 0.0, 319....
114  Frederik Fisker Jespersen T1  ...  [1.0, 301.0, 1.0, 302.0, 1.0, 300.0, 1.0, 301....
321              Nils Thorsted T1  ...  [1.0, 197.0, 1.0, 120.0, 1.0, 318.0, 1.0, 318....
182             Johannes Uldal T1  ...  [0.0, 341.0, 0.0, 341.0, 0.0, 341.0, 0.0, 341....
285            Mikael Ivarsson T1  ...  [1.0, 306.0, 1.0, 307.0, 1.0, 308.0, 1.0, 308....
108  Frederik Fisker Jespersen T1  ...  [0.0, 319.0, 0.0, 319.0, 0.0, 319.0, 0.0, 319....
107  Frederik Fisker Jespersen T0  ...  [1.0, 319.0, 1.0, 319.0, 1.0, 319.0, 1.0, 319....
334             Ole K Sørensen T1  ...  [0.0, 319.0, 0.0, 319.0, 0.0, 319.0, 0.0, 319....
324              Nils Thorsted T1  ...  [1.0, 306.0, 1.0, 306.0, 1.0, 307.0, 1.0, 308....
104  Frederik Fisker Jespersen T0  ...  [0.0, 319.0, 0.0, 319.0, 0.0, 319.0, 0.0, 319....
112  Frederik Fisker Jespersen T1  ...  [0.0, 339.0, 0.0, 339.0, 0.0, 339.0, 0.0, 339....
187                Jonas Ahmed T1  ...  [0.0, 339.0, 0.0, 339.0, 0.0, 339.0, 0.0, 339....
265  Martin Hildebrandt Jensen T1  ...  [1.0, 340.0, 1.0, 340.0, 1.0, 340.0, 1.0, 338....
283            Mikael Ivarsson T1  ...  [1.0, 340.0, 1.0, 340.0, 1.0, 339.0, 1.0, 339....
133          Heins Christensen T1  ...  [0.0, 358.0, 0.0, 358.0, 0.0, 358.0, 0.0, 135....
113  Frederik Fisker Jespersen T1  ...  [0.0, 358.0, 0.0, 358.0, 0.0, 358.0, 0.0, 358....
333             Ole K Sørensen T1  ...  [1.0, 377.0, 1.0, 377.0, 1.0, 377.0, 1.0, 377....
185                Jonas Ahmed T1  ...  [1.0, 307.0, 1.0, 307.0, 1.0, 308.0, 1.0, 307....
111  Frederik Fisker Jespersen T1  ...  [1.0, 377.0, 1.0, 377.0, 1.0, 377.0, 1.0, 377....
186                Jonas Ahmed T1  ...  [1.0, 377.0, 1.0, 299.0, 1.0, 76.0, 1.0, 377.0...
188                Jonas Ahmed T1  ...  [0.0, 358.0, 0.0, 358.0, 0.0, 358.0, 0.0, 358....
131          Heins Christensen T1  ...  [1.0, 377.0, 1.0, 377.0, 1.0, 377.0, 1.0, 377....
396      Stig Schlosser Lauridsen  ...  [1.0, 4558.0, 0.0, 206.0, 0.0, 303.0, 0.0, 302...
319              Nils Thorsted T0  ...  [0.0, 305.0, 0.0, 304.0, 0.0, 304.0, 0.0, 303....
105  Frederik Fisker Jespersen T0  ...  [0.0, 304.0, 0.0, 304.0, 0.0, 305.0, 0.0, 302....
308       Niclas Benjamin Nielsen  ...  [953.0, 334.0, 1616.0, 735.0, 406.0, 133.0, 36...

[30 rows x 6 columns]